.common-table {
  &-header {
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;

    & > div {
      display: flex;
      flex-shrink: 0;
      margin: 6px;
      align-items: center;

      & > span {
        flex-shrink: 0;
        margin-right: 12px;
      }

      & > .n-select {
        min-width: 180px;
      }
    }

    & > button {
      flex-shrink: 0;
      margin: 6px;
    }
  }
}

.common-page {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 12px;
  gap: 8px;

  .n-select {
    min-width: 178px;
  }
}

.w-230 {
  width: 230px !important;
}

.n-select {
  min-width: 178px;
}

.w-long {
  width: 100%;
}

.h-long {
  height: 100%
}


.color-red {
  color: red;
}
.color-blue {
  color: blue;
}